@model int


<a asp-action="Details" asp-controller="Items" asp-route-id="@Model" class="btn btn-sm btn-primary">Details</a>
<a asp-action="Edit" asp-controller="Items" asp-route-id="@Model" class="btn btn-sm btn-info ms-1">Edit</a>
<a asp-action="Delete" asp-controller="Items" asp-route-id="@Model" class="btn btn-sm btn-danger ms-1">Delete</a>

