@inject Microsoft.AspNetCore.Identity.SignInManager<User> singInManager

@if(singInManager.IsSignedIn(User))
{
    <div>
        <a class="d-inline" asp-controller="ProfileCollections" asp-action="Index">@User.Identity.Name</a> |
        <a class="d-inline" asp-controller="Account" asp-action="SignOut">Logout</a>
    </div>
}
else
{
    <div>
        <a class="d-inline" asp-controller="Account" asp-action="Login">Login</a> | 
        <a class="d-inline" asp-controller="Account" asp-action="SignUp">SignUp</a>
    </div>
}
