@inject Microsoft.AspNetCore.Identity.SignInManager<User> _singInManager

@if(_singInManager.IsSignedIn(User))
{
    <div>
        <a class="nav-link d-inline" asp-controller="Account" asp-action="Profile">@User.Identity.Name</a>|
        <a class="nav-link text-dark d-inline" asp-controller="Account" asp-action="SignOut">Logout</a>
    </div>
}
else
{
    <div>
        <a class="nav-link d-inline" asp-controller="Account" asp-action="Login">Login</a>|
        <a class="nav-link d-inline" asp-controller="Account" asp-action="SignUp">SignUp</a>
    </div>
}
