@inject Microsoft.AspNetCore.Identity.SignInManager<User> singInManager

@if(singInManager.IsSignedIn(User))
{
    <div>
        <a class="d-inline" asp-controller="Profile" asp-action="MyProfile">
            @User.Identity.Name
         </a> |
        <a class="d-inline" asp-controller="Account" asp-action="SignOut">@Resource.Logout</a>
    </div>
}
else
{
    <div>
        <a class="d-inline" asp-controller="Account" asp-action="Login">@Resource.Login</a> |
        <a class="d-inline" asp-controller="Account" asp-action="SignUp">@Resource.SignUp</a>
    </div>
}
