
<div class="container">
    <h1>User's Profile</h1>
    <ul>
        <li>User information</li>
        <li>Total collection</li>
        <li>Total Items</li>
        <li>Likes</li>
        <li>Comments</li>
        <li>Others</li>
        <li>
            <a asp-action="Index" asp-controller="ProfileCollections">Collections</a>
        </li>
    </ul>
</div>
