@model int

@{
    string userId = (string)ViewData["UserId"];
}

<partial name="_ToastrNotifications"/>

<div class="container">
    <h2 class="text-center text-dark mb-2">Collections</h2>
    <div>
        <a asp-action="Create" asp-controller="ProfileCollections" class="btn btn-primary px-5 rounded-0">Create New</a>
    </div>
    @await Component.InvokeAsync("Collections", new { userId = @userId })
</div>


<!--Confirm Delete Modal-->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#deleteCollectionModal">
    Launch demo modal
</button>


