@model IEnumerable<TagModel>

<div class="container">
    <div class="d-flex row justify-content-center mb-4">
        <div class="col-md-10 text-center">
            <div>
                @foreach(var tag in @Model)
                {
                    <a asp-action="SearchByTag" asp-controller="Search" asp-route-tagId="@tag.Id" class="badge bg-dark rounded-pill text-decoration-none">@tag.Name</a>
                }
            </div>
        </div>
    </div>
</div>
