@{
    ViewData["Title"] = "Home Page";
}

<p>
    <a 
        asp-action="Create" 
        asp-controller="Collections"
        class="btn btn-primary px-5 rounded-0"
        >Create New</a>
</p>

@await Component.InvokeAsync("Collections")