
<div class="container">
    <h2>This is home page</h2>
    <h4>View top 5 Collection, most liked, and others</h4>

    @await Component.InvokeAsync("RecentlyAddedItems")

    @await Component.InvokeAsync("TopCollections")
</div>
