@model int

<div class="container">
    <div class="ms-3">
        <a asp-action="Index" asp-controller="ProfileCollections" style="font-size:13px;">
            <span><</span>@Resource.Collections
        </a>
    </div>
    @await Component.InvokeAsync("CollectionItems", new { collectionId = @Model, displayAction = true })
</div>




