html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}


.error-message {
  color:rgb(231, 87, 87);
  font-size: 12px;
  font-weight: 300;
}


.min_width-567 {
    min-width: 567px;
}

/* Comment section  */
.comment-date {
  font-size: 12px;
}
.comment-text {
  font-size: 14px;
}

.shadow-none {
  box-shadow: none;
}
.comment-name {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.comment-input {
  resize: none;
}
.like-comment .btn {
    font-weight: 600;
    color: #464444;
}

.like-comment .btn:hover {
    background-color: rgba(169, 169, 169, 0.53);
}
