html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

footer {
    height: 50px;
}
footer #developer{
    font-size: 14px;
}

header #searchBox {
    width: 15rem;
}



@media (max-width: 992px) {
    header #searchBox {
        width: 100%;
    }
}



.error-message {
  color:rgb(231, 87, 87);
  font-size: 12px;
  font-weight: 300;
}


.min_width-567 {
    min-width: 567px;
}

/* Width  */
.width-25 {
  width: 25%;
}

/* Comment section  */
.comment-date {
  font-size: 12px;
}
.comment-text {
  font-size: 14px;
}

.shadow-none {
  box-shadow: none;
}
.comment-name {
  color: #007bff;
  text-decoration: none;
  cursor: pointer;
}

.comment-input {
  resize: none;
}
.like-comment .btn {
    font-weight: 600;
    color: #464444;
}

.like-comment .btn:hover {
    background-color: rgba(169, 169, 169, 0.53);
}


/*Top collection and item section */
.top-collections .card {
    font-size: 15px;
}

.top-collections .card-description p {
    font-size: 14px;
    font-style: italic;
}

.top-items .card {
    font-size: 15px;
}
.top-items .card-date {
    font-size: 14px;
}

/*user datatable */
#userList_filter {
    float:right;
    margin-bottom: 8px;
}
#userList_filter input {
    width: 15rem;
    padding:3px;
    box-shadow: none;
    border: 1px solid gray;
    border-radius: 5px;
    outline: none;
}



/*Admin panel section */
.isAdmin {
    color:limegreen;
    font-size:20px;
}

