@model int

@{
    string userId = (string)ViewData["UserId"];
}

<partial name="_ToastrNotifications" />

<div class="container">
    <div>
        <a asp-action="Create" asp-controller="ManageUserCollections" asp-route-userId="@userId" class="btn btn-primary px-5 rounded-0">Create New</a>
    </div>
    @await Component.InvokeAsync("Collections", new { userId = @userId, displayAction = true, displayAuthor = false, isAdmin = true})
</div>





