@model int 
@{
    string userId = (string)ViewData["UserId"];
    int collectionId = @Model;
}

<div class="container">
    @await Component.InvokeAsync("Collections", new { userId = @userId, displayAction = false, displayAuthor = false})
</div>
